.venv
__pycache__/
*.pyc
report.pdf
*.png
*.yml
*.log
.playwright-mcp/instruction-pour-la-conception-du-logiciel-mélimo-copie.pdf
.playwright-mcp/instruction-pour-la-conception-du-logiciel-mélimo-copie.pdf
References/jeux/instruction pour la conception du logiciel mélimo copie.pdf
